Cats form
<!-- <div class="flex flex-col gap-y-2 bg-white p-4 border border-gray-200  rounded-lg shadow-xs">
  <div class="flex justify-between items-center">
    <label for="note" class="text-sm font-medium text-gray-700">Note</label>
    <app-icon-button icon="close" ariaLabel="Close" [isDisabled]="isLoading()" (onClick)="onCloseClick()" />
  </div>
  <textarea 
  name="input"
  class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-sm sm:leading-6"
  autocomplete="ban-reason"
  placeholder="Enter reason" 
  rows="4"
  [formControl]="noteControl"
  ></textarea>
  <div class="flex justify-end">
    <app-primary-button buttonText="Save" [isLoading]="isLoading()"  (onClick)="onSaveClick()">
      <ng-container prefix>
        <span class="material-symbols-outlined text-white !text-[16px] leading-none align-middle">save</span>
      </ng-container>
    </app-primary-button>
  </div>
</div> -->