<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
      <div class="pb-3 flex flex-col gap-y-2">
        <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <app-primary-button 
              buttonText="Add cat" 
              [isLoading]="loading()" 
              (onClick)="onAddCatClick()" 
            />
          </div>
        </div>
        <app-cats-map [cats]="cats()" [userCoords]="userCoords()" (catSelected)="onCatSelected($event)" />
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        @for (cat of sortedCats(); track cat.id) {
          <app-cat-card 
            [cat]="cat" 
            [loadingLike]="isLoadingLike" 
            [isHighlighted]="selectedCatId() === cat.id"
            (likeClick)="onLikeCat(cat.id)" 
            #catCard
          />
        }
        @for (item of emptyItems(); track $index) {
          <app-empty-cat-card (click)="onAddCatClick()" />
        }
      </div>
      @if(hasMoreCats()) {
        <div class="flex items-center justify-center pt-4">
          <app-primary-button buttonText="Load more cats" [isLoading]="loading()" (onClick)="onLoadMoreCats()" />
        </div>
      }
  </div>
</main>