<div class="flex items-center justify-center">
  <div class="relative" [class.opacity-50]="disabled()">
    <div class="w-14 h-7 rounded-full relative cursor-pointer transition-all duration-200 ease-in-out" 
         [ngClass]="disabled() ? 'cursor-not-allowed' : 'cursor-pointer'" 
         (click)="!disabled() && cycleValue()"
         [class]="value() === false ? falseColor() : value() === true ? trueColor() : 'bg-gray-500'">
      <div class="absolute top-0.5 w-6 h-6 bg-white border border-gray-300 rounded-full transition-all duration-200 ease-in-out shadow-sm"
           [class]="value() === false ? 'left-[2px]' : value() === true ? 'left-[30px]' : 'left-[16px]'">
      </div>
    </div>
  </div>
</div>